<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visited Places</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">
</head>
<body>
    <div class="h-screen flex items-center bg-gradient-to-r from-blue-600 via-indigo-400 to-purple-600">
      <div class="mx-auto">
        <div class="block mx-auto">
          <div class="object-none object-center align-middle w-auto text-5xl font-bold">
            Welcome to Visited Places !
          </div>
        </div>
        <br><br>
        <div class="block">
          <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
              <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
                Get started
              </a>
            </div>
            <div class="ml-3 inline-flex rounded-md shadow">
              <a href="/about" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
                About the project
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>